div {
  width:100px;
  height:100px;
  background-color: #344e41;
  border: 3px solid #a3b18a;
  margin: 10px;
  display: inline-block;

}

#middle {
  background-color: #588157;
}
#static #middle {
  position: static;
  top: 100px;
}
#relative #middle {
  position: relative;
  top: 50px;
  left: 50px;
}
#absolute #middle {
  position: absolute;
  top: 50px;
  left: 50px;
}

#fixed #middle {
  position: fixed;
  top:0;
  left: 0;
}
